<div class="row">
  <div class="col-md-8">
    <h1><%= @topic.name %></h1>
    <%= render 'bookmarks/form', locals: { topic: @topic, bookmark: @bookmark } %>    
  </div>
  <div class="col-md-4">
    <h1>
  <%= link_to "Edit", edit_topic_path, class: 'btn btn-success' %>
  <%= link_to "Delete", @topic, class: "btn btn-danger", method: :post, data: { confirm: 'Are you sure?'} %>
    </h1>
  </div>
</div>
  <br/>
  
  <div class="row">
    <div class="container">
      <% @topic.bookmarks.each do |bookmark| %>
      <a href="<%= bookmark.link %>" target="_blank"><%= bookmark.link %></a>
      <% end %>
    </div>
  </div>


